@{
    ViewData["Title"] = "About";
}

<div>
    @Html.Raw(@Model.HtmlContent)
</div>
<video loop controls autoplay style="width: 100%;height: auto;">
    <source  src="~/videos/Dora PSA Endling Slide 1.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
