
@{
    ViewData["Title"] = "Activities";
}

<h2>Dora animal fundation protection activities. </h2>


<p>

    <img src="~/images/Activities/Dora1.jpg" />
    <img src="~/images/Activities/Dora2.jpg" />
    <img src="~/images/Activities/Dora3.jpeg" />
    <img src="~/images/Activities/Dora4.jpeg" />
    <img src="~/images/Activities/Dora5.jpeg" />
    <img src="~/images/Activities/Dora6.jpeg" />
    <img src="~/images/Activities/Dora7.jpeg" />
</p>