
@{
    ViewData["Title"] = "Activities";
}


@*<div>
        @Html.Raw(@Model.HtmlContent)
    </div>*@

<h2>Dora animal foundation protection activities.</h2>
<p>
    <img style="width:100%;" src="/images/Activities/Dora1.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Dora2.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Dora3.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/Dora4.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/Dora5.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/Dora6.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/Dora7.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/invoice1.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/invoice2.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/invoice3.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/invoice4.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/invoice5.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/invoice6.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/Activities20190708_1.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities20190708_2.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities20190708_3.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities20190708_4.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities20190708_5.jpg"><br>
    <img style="width:100%;" src="/images/Activities/9.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/8.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/7.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/6.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/5.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/4.jpeg"><br>
    <img style="width:100%;" src="/images/Activities/3.jpg"><br>
    <img style="width:100%;" src="/images/Activities/2.jpg"><br>
    <img style="width:100%;" src="/images/Activities/1.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities20200408_1.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities20200408_2.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities20200408_3.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities20200408_4.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities20200408_5.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities20200408_8.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities20200408_9.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities_20200517_3.jpg"><br>
    <img style="width:100%;" src="/images/Activities/Activities_20200517_4.jpg"><br>
    <img style="width:100%;" src="/images/Activities/DonateToFoodBank2.jpg"><br>
    <img style="width:100%;" src="/images/Activities/DonateToFoodBank3.jpg"><br>

    <img style="width:100%;" src="/images/News/MagazineReports_20200612_2.jpg"><br>
    <img style="width:100%;" src="/images/News/MagazineReports_20200612_1.jpg"><br>
    <img style="width:100%;" src="/images/News/Youth_20020612_3.jpg"><br>
    <img style="width:100%;" src="/images/News/Youth_20020612_2.jpg"><br>
    <img style="width:100%;" src="/images/News/Youth_20020612_1.jpg"><br>
</p>