
@{
    ViewData["Title"] = "Activities";
}

<h2>Dora animal fundation protection activities. </h2>


<p>

    <img style="width:100%;" src="~/images/Activities/Dora1.jpg" /> <br />
    <img style="width:100%;" src="~/images/Activities/Dora2.jpg" /><br />
    <img style="width:100%;" src="~/images/Activities/Dora3.jpeg" /><br />
    <img style="width:100%;" src="~/images/Activities/Dora4.jpeg" /><br />
    <img style="width:100%;" src="~/images/Activities/Dora5.jpeg" /><br />
    <img style="width:100%;" src="~/images/Activities/Dora6.jpeg" /><br />
    <img style="width:100%;" src="~/images/Activities/Dora7.jpeg" /><br />
    <img style="width:100%;" src="~/images/Activities/invoice1.jpeg" /><br />
    <img style="width:100%;" src="~/images/Activities/invoice2.jpeg" /><br />
    <img style="width:100%;" src="~/images/Activities/invoice3.jpeg" /><br />
    <img style="width:100%;" src="~/images/Activities/invoice4.jpeg" /><br />
    <img style="width:100%;" src="~/images/Activities/invoice5.jpeg" /><br />
    <img style="width:100%;" src="~/images/Activities/invoice6.jpeg" /><br />

    <img style="width:100%;" src="~/images/Activities/Activities20190708_1.jpg" /><br />
    <img style="width:100%;" src="~/images/Activities/Activities20190708_2.jpg" /><br />
    <img style="width:100%;" src="~/images/Activities/Activities20190708_3.jpg" /><br />
    <img style="width:100%;" src="~/images/Activities/Activities20190708_4.jpg" /><br />
    <img style="width:100%;" src="~/images/Activities/Activities20190708_5.jpg" /><br />
</p>