@model DoraAPF.org.ViewModels.Payment.PaymentViewModel
@{
    ViewData["Title"] = "Donate";
}

<h2>Dora animal fundation protection Donation.</h2>
<hr />
<div class="donation-section animated fadeIn">
    <form asp-controller="Home" method="post" class="form-horizontal" id="myForm" asp-action="ProcessPayment">
        <div class="row">
            <div class=" col-sm-12">
                <h3>1. Choose donation amount</h3>
            </div>
        </div>
        <div class="amount-row row">
            <div class="amount-col col-sm-12">
                <label class="radio-inline"><input asp-for="PaymentAmount" value="10" type="radio" checked="checked" />$10.00</label>
                <label class="radio-inline"><input asp-for="PaymentAmount" value="20" type="radio" />$20.00</label>
                <label class="radio-inline"><input asp-for="PaymentAmount" value="50" type="radio" />$50.00</label>
                <label class="radio-inline"><input asp-for="PaymentAmount" value="100" type="radio" />$100.00</label>
                <label class="radio-inline"><input asp-for="PaymentAmount" value="200" type="radio" />$200.00</label>
            </div>

        </div>
        <div class="row">
            <div class="billing-info col-sm-6">
                <div class="row">
                    <div class=" col-sm-12">
                        <h3>2.  Select your billing info</h3>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-12">
                        <label asp-for="Title"></label><br />
                        @Html.DropDownListFor(m => m.Title, Model.GenericList.Titles, new { @class = "form-control title" })

                    </div>

                </div>
                <div class="row">
                    <div class=" col-sm-6">
                        <label asp-for="FirstName"></label><span class="required-field-red">*</span><br />
                        <input type="text" asp-for="FirstName" placeholder="First Name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class=" col-sm-6">
                        <label asp-for="LastName"></label><span class="required-field-red">*</span><br />
                        <input type="text" asp-for="LastName" placeholder="Last Name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-12">
                        <label asp-for="Address1"></label><span class="required-field-red">*</span><br />
                        <input type="text" asp-for="Address1" placeholder="Address1" />
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
 
                </div>
                <div class="row">
                    <div class=" col-sm-12">
                        <label asp-for="Address2"></label><br />
                        <input type="text" asp-for="Address2" placeholder="Address2" />
                    </div>
                    


                </div>
                <div class="row">
                    <div class=" col-sm-4">
                        <label asp-for="City"></label><span class="required-field-red">*</span><br />
                        <input type="text" asp-for="City" placeholder="City" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class=" col-sm-4">
                        <label asp-for="State"></label> <span class="required-field-red">*</span><br />
                        <input type="text" asp-for="State" placeholder="State" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class=" col-sm-4">
                        <label asp-for="Country"></label><span class="required-field-red">*</span><br />

                        @Html.DropDownListFor(m => m.Country, Model.GenericList.Countries, new { @class = "form-control" })

                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class=" col-sm-6">
                        <label asp-for="PostalCode"></label><span class="required-field-red">*</span><br />
                        <input type="text" asp-for="PostalCode" placeholder="Postal Code" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <div class=" col-sm-6">
                        <label asp-for="Phone"></label><br />
                        <input type="text" asp-for="Phone" placeholder="Phone Number" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-12">
                        <label asp-for="Email"></label><span class="required-field-red">*</span><br />
                        <input type="text" asp-for="Email" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="credit-card-info col-sm-6">
                <div class="row">
                    <div class=" col-sm-12">
                        <h3>3.  Select your payment method</h3>
                        <div>
                            <img src="~/images/creditCard/visa_small.gif" />
                            <img src="~/images/creditCard/mastercd_small.gif" />
                            <img src="~/images/creditCard/amex_small.gif" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-12">
                        <label asp-for="CardHolderName"></label><span class="required-field-red">*</span><br />
                        <input type="text" asp-for="CardHolderName" placeholder="Card Holder Name" />
                        <span asp-validation-for="CardHolderName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-12">
                        <label asp-for="CardNumber"></label><span class="required-field-red">*</span><br />
                        <input type="text" asp-for="CardNumber" placeholder="Card Number" />
                        <span asp-validation-for="CardNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-6">
                        <label asp-for="CardExpiry"></label><span class="required-field-red">*</span><br />
                        <input type="text" asp-for="CardExpiry" placeholder="MMYY" />
                        <span asp-validation-for="CardExpiry" class="text-danger"></span>
                    </div>
                    <div class=" col-sm-6">
                        <label asp-for="CardCVV"></label><span class="required-field-red">*</span><br />
                        <input type="text" asp-for="CardCVV" placeholder="Expiration Date" />
                        <span asp-validation-for="CardCVV" class="text-danger"></span>
                    </div>
                </div>
                <div class=" row">
                    <div class="button-section col-sm-6">
                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>

                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>Reset</button>
                    </div>
                </div>
            </div>
        </div>
        
    </form>
</div>

@section Styles {
    <link href="~/css/Donation.css" rel="stylesheet">
}