
@{
    ViewData["Title"] = "News";
}


@*<div>
        @Html.Raw(@Model.HtmlContent)
    </div>*@

<div id="accordion">
    <div class="card">
        <div class="card-header" id="heading32">
            <div data-toggle="collapse" data-target="#collapse32" aria-expanded="false" aria-controls="collapse32" style="margin-top: 20px;margin-bottom: 10px;
                 padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Raised $5000 for the BCSPCA from December 2020 to January 2021
            </div>

        </div>
        <div id="collapse32" class="collapse" aria-labelledby="heading32" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/New_GiftAcknowledgement_20210120-001.jpg" style="width:100%;">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading31">
            <div data-toggle="collapse" data-target="#collapse31" aria-expanded="false" aria-controls="collapse31" style="margin-top: 20px;margin-bottom: 10px;
                 padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Raising food for Rain City on January 15, 2021
            </div>

        </div>
        <div id="collapse31" class="collapse" aria-labelledby="heading31" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/NewsRasingFood20210116_1.jpg" style="width:100%;">
            </div>
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/NewsRasingFood20210116_2.jpg" style="width:100%;">
            </div>
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/NewsRasingFood20210116_3.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading30">
            <div data-toggle="collapse" data-target="#collapse30" aria-expanded="false" aria-controls="collapse30" style="margin-top: 20px;margin-bottom: 10px;
                 padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Raising food for Rain City on December 20, 2020
            </div>

        </div>
        <div id="collapse30" class="collapse" aria-labelledby="heading30" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/News_RaiseFood_second_20210112_1.jpg" style="width:100%;">
            </div>
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/News_RaiseFood_second_20210112_2.jpg" style="width:100%;">
            </div>
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/News_RaiseFood_second_20210112_3.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading33">
            <div data-toggle="collapse" data-target="#collapse33" aria-expanded="false" aria-controls="collapse33" style="margin-top: 20px;margin-bottom: 10px;
                 padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Raising food for Rain City on November 22，2020
            </div>

        </div>
        <div id="collapse33" class="collapse" aria-labelledby="heading33" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/RaisedFood20210131_1.jpg" style="width:100%;">
            </div>
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/RaisedFood20210131_2.jpg" style="width:100%;">
            </div>
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/RaisedFood20210131_3.jpg" style="width:100%;">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading28">
            <div data-toggle="collapse" data-target="#collapse28" aria-expanded="false" aria-controls="collapse28" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer" class="collapsed">
                Founder Jason Guo appeared on Association of Fundraising Professional’s Greater Vancouver chapter’s Instagram account on October 22, 2020
            </div>

        </div>
        <div id="collapse28" class="collapse" aria-labelledby="heading28" data-parent="#accordion" aria-expanded="false" style="height: 0px;">
            <div style="margin-top: 20px;margin-bottom: 10px;padding-left:30px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                <a href="https://www.instagram.com/p/CGqP5RnhJuA/?igshid=1mbgk723flaw">Founder Jason Guo appeared on Association of Fundraising Professional’s Greater Vancouver chapter’s Instagram account. </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading29">
            <div data-toggle="collapse" data-target="#collapse29" aria-expanded="false" aria-controls="collapse29" style="margin-top: 20px;margin-bottom: 10px;
                 padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Raising food for Rain City on October 11, 2020
            </div>

        </div>
        <div id="collapse29" class="collapse" aria-labelledby="heading29" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/News_RaiseFood20210112_1.jpg" style="width:100%;">
            </div>
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/News_RaiseFood20210112_2.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading27">
            <div data-toggle="collapse" data-target="#collapse27" aria-expanded="false" aria-controls="collapse27" style="margin-top: 20px;margin-bottom: 10px;
                 padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer" class="collapsed">
                Donation to BC. SPCA on August 29, 2020
            </div>

        </div>
        <div id="collapse27" class="collapse" aria-labelledby="heading27" data-parent="#accordion" aria-expanded="false" style="height: 0px;">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/BC_SPCA_20200925.jpg" style="width:100%;">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading26">
            <div data-toggle="collapse" data-target="#collapse26" aria-expanded="false" aria-controls="collapse26" style="margin-top: 20px;margin-bottom: 10px;
                 padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                June 20, 2020 Mailing a cheque of donation for SPCA
            </div>

        </div>
        <div id="collapse26" class="collapse" aria-labelledby="heading26" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/Donate_SPCA20200702_1.jpg" style="width:100%;">
                <img src="/images/News/Donate_SPCA20200702_2.jpg" style="width:100%;">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading24">
            <div data-toggle="collapse" data-target="#collapse24" aria-expanded="false" aria-controls="collapse24" style="margin-top: 20px;margin-bottom: 10px;
                 padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                2020 June 12: Jason Guo and the Dora Foundation was nominated for Giving Heart’s Outstanding Youth Philanthropist Award by BCSPCA.
            </div>

        </div>
        <div id="collapse24" class="collapse" aria-labelledby="heading24" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/Youth_20020612_1.jpg" style="width:100%;">
                <img src="/images/News/Youth_20020612_2.jpg" style="width:100%;">
                <img src="/images/News/Youth_20020612_3.jpg" style="width:100%;">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading22">
            <div data-toggle="collapse" data-target="#collapse22" aria-expanded="false" aria-controls="collapse22" style="margin-top: 20px;margin-bottom: 10px;
                 padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Raising food for Rain City on June 10, 2020
            </div>

        </div>
        <div id="collapse22" class="collapse" aria-labelledby="heading22" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/RaiseFood_20200611_1.jpg" style="width:100%;">
                <img src="/images/News/RaiseFood_20200611_2.jpg" style="width:100%;">
                <img src="/images/News/RaiseFood_20200611_3.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading17">

            <div data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Donation to Food Bank BC on June 8, 2020
            </div>

        </div>
        <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/DonateToFoodBank2.jpg" style="width:100%;">
                <img src="/images/News/DonateToFoodBank3.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingNight">
            <div data-toggle="collapse" data-target="#collapseNight" aria-expanded="false" aria-controls="collapseNight" style="    margin-top: 20px;    margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer"> The Dora Foundation Vancouver Elementary Debate Tournament Opening on April May 24, 2020    </div>
        </div>
        <div id="collapseNight" class="collapse" aria-labelledby="headingNight" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <video loop="" controls="" style="width: 100%;height: auto;">
                    <source src="/images/News/Dora Vancouver Debate Elementary 1.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTen">
            <div data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer"> The Dora Foundation Vancouver Elementary Debate Tournament Live Videos on April May 24, 2020</div>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <video loop="" controls="" style="width: 100%;height: auto;">
                    <source src="/images/News/Dora Vancouver Debate Elementary 2.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingEleven">
            <div data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer"> Thanks Orations of Frankie Cena, FDT Founder and Dora Animal Protection Foundation Director, and Trevor Harvey, BC SPCA, MBA Senior Officer, Philanthropy and Guardian to Honey the Corgi on April May 24, 2020  </div>

        </div>
        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <video loop="" controls="" style="width: 100%;height: auto;">
                    <source src="/images/News/Dora Vancouver Debate Elementary 3.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTweleve">
            <div data-toggle="collapse" data-target="#collapseTweleve" aria-expanded="false" aria-controls="collapseTweleve" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">The Dora Foundation Vancouver Elementary Debate Tournament Final Presentation on April May 24, 2020  </div>

        </div>
        <div id="collapseTweleve" class="collapse" aria-labelledby="headingTweleve" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <video loop="" controls="" style="width: 100%;height: auto;">
                    <source src="/images/News/Dora Vancouver Debate Elementary 4.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading13">

            <div data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Fundraising for Dog Nova on May 17, 2020
            </div>

        </div>
        <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/Nova20200517_1.jpg" style="width:100%;">
                <img src="/images/News/Nova20200517_2.jpg" style="width:100%;">
                <img src="/images/News/Nova20200517_3.jpg" style="width:100%;">
                <img src="/images/News/Nova20200517_4.jpg" style="width:100%;">
                <img src="/images/News/Nova20200517_5.jpg" style="width:100%;">
                <img src="/images/News/Nova20200517_6.jpg" style="width:100%;">
                <img src="/images/News/Nova20200517_7.jpg" style="width:100%;">
                <img src="/images/News/Nova20200517_8.jpg" style="width:100%;">
                <img src="/images/News/Nova20200517_9.jpg" style="width:100%;">
                <img src="/images/News/Nova20200517_10.jpg" style="width:100%;">
                <img src="/images/News/Nova20200517_11.jpg" style="width:100%;">
                <img src="/images/News/FundraisingForDog20200609_1.png" style="width:100%;">
                <img src="/images/News/FundraisingForDog20200609_2.png" style="width:100%;">
                <img src="/images/News/Nova20200517_13.jpg" style="width:100%;">
                <img src="/images/News/FundraisingForDog20200609_3.png" style="width:100%;">
                <img src="/images/News/Nova20200517_14.jpg" style="width:100%;">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading25">

            <div data-toggle="collapse" data-target="#collapse25" aria-expanded="false" aria-controls="collapse25" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                BCSPCA Magazine reports Jason Guo and Dora Animal Protection Foundation on May 13, 2020
            </div>

        </div>
        <div id="collapse25" class="collapse" aria-labelledby="heading25" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/MagazineReports_20200612_1.jpg" style="width:100%;">
                <img src="/images/News/MagazineReports_20200612_2.jpg" style="width:100%;">
                <img src="/images/News/MagazineReports_20200612_3.jpg" style="width:100%;">
            </div>
            <div style="margin-top: 20px;margin-bottom: 10px;padding-left:30px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                <a href="https://spca.bc.ca/wp-content/uploads/animalsense-magazine.pdf ">https://spca.bc.ca/wp-content/uploads/animalsense-magazine.pdf </a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading14">

            <div data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Raising masks for BC. SPCA on April 23, 2020
            </div>

        </div>
        <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/News_toTrevor_20200608.jpg" style="width:100%;">
                <img src="/images/News/ResponeJason_20200404.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading16">

            <div data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">Donation to SPCA on February 14, 2020  </div>

        </div>
        <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/donationToSPCA20200528.jpg" style="width:100%;">
                <img src="/images/News/DonationToSPCA_20200609_1.jpg" style="width:100%;">
                <img src="/images/News/DonationToSPCA_20200609_2.jpg" style="width:100%;">
                <img src="/images/News/DonationToSPCA_20200609_3.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading15">

            <div style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                <a href="https://www.facebook.com/gelseamae/posts/2367104613548204">Musican Gelsea Mae promotes SPCA and DORA Animal Protection Foundation on October 17, 2019 </a>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingOne">

            <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer"> BC SPCA News Reported on September 25, 2019 </div>

        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                <img src="/images/News/bc spca.jpg" style="width:100%;">
                <img src="/images/News/BC_SPCA_202006069_1.jpg" style="width:100%;">
                <img src="/images/News/BC_SPCA_202006069_2.jpg" style="width:100%;">
                <img src="/images/News/BC_SPCA_202006069_3.jpg" style="width:100%;">
                <img src="/images/News/BC_SPCA_202006069_4.jpg" style="width:100%;">
                <img src="/images/News/BC_SPCA_202006069_5.jpg" style="width:100%;">
                <img src="/images/News/BC_SPCA_202006069_6.jpg" style="width:100%;">
                <img src="/images/News/BC_SPCA_202006069_8.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">

            <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">  Jason Guos Letter </div>


        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                Dear John Horgan,<br><br>

                I am Jason Guo, a Grade 10 student at St. George’s School. In April, my first dog, Dora, was shipped from Dalian, China, to Vancouver,<br>

                Canada, via Hong Kong and Tokyo. During the 5-day convoluted shipment (which was considered the most economically efficient way to the carriers),<br>

                she was constrained in the extremely cold hold of the flights like ordinary lifeless commercial cargo; she had no water to drink and no food to eat <br>

                and died after a night at a veterinarian hospital in Vancouver. Dora’s abnormal death led me to set up a foundation with the help of my family <br>

                and friends to protect small animals, whose lives are very vulnerable, especially when they are neglected or abused. <br>

                We named it the Dora Animal Protection Foundation in memory of the dog whose dismal death would have been avoided if we, humans, had cared.<br>

                Our mission is to provide animals safe and humane living conditions, prevent them from being neglected or abused,  <br>

                and provide support when they need help. As a part of our mission, we implore you to legislate for the protection of small animals <br>

                from being neglected or abused. Specifically, we strongly propose legislation against shipping small animals in the hold of fights <br>

                that arrive at and depart from Canadian airports. Small animals deserve to be respected inhabitants of our civilized world. <br>

                Thank you for your kind consideration of our legislative proposal. If you need further information from us, please let us know.<br><br>

                Yours truly,<br><br>

                Jason Guo<br>
                June 4, 2019<br>

                <img src="/images/News/Jason Letter1.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">

            <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer"> John Horgan Response Letter </div>


        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                Dear Mr. Guo:
                <br> <br>

                Thank you for your email regarding proposed legislation to stop the neglect and abuse of animals. <br>

                We appreciate your taking the time to write and extend our sincere condolences for the loss of your dog, <br>

                Dora. We will share your message with Premier Horgan at our earliest opportunity. <br>

                He will appreciate the chance to hear your personal story and ideas on how to extend protections to small animals. <br>

                On your behalf, we have also provided a copy of your message to the Honourable Lana Popham, Minister of Agriculture, <br>

                for her review and consideration. <br>

                Please be assured that your suggestions will be included in any of the Minister’s related discussions going forward. <br>

                If you would like to provide further details on your proposal, <br>

                we encourage you to share them with the Ministry of Agriculture directly at <a href="mailto:AGR.Minister@gov.bc.ca">AGR.Minister@gov.bc.ca</a>. <br>

                We would also recommend getting in contact with your local Member of the Legislative Assembly (MLA). <br>

                Their office may be able to offer assistance in furthering your advocacy. <br>

                You can find contact information for your MLA at the link listed below: <br> <br> <br>

                <a href="https://www.leg.bc.ca/learn-about-us/members">https://www.leg.bc.ca/learn-about-us/members</a> <br> <br> <br>

                Thank you, again, for taking the time to share your thoughts and recommendations with us. We wish you all the best. <br>

                <br>

                <img src="/images/News/LegislativeAssembly1.jpg" style="width:100%;">
                <img src="/images/News/LegislativeAssembly2.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFour">
            <div data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer"> Jason Guos Letter to ANA</div>


        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                Dear ANA:
                <br> <br>
                My name is Jason. I am a high school student from Vancouver, Canada. <br>
                On April 16th, 2019, my first dog, Dora (MAWB no. 205-36878391 (YVR)), was <br>
                transported from Dalian, China, to Vancouver, Canada. She was on your flights on April <br>
                19th from Hong Kong to Tokyo (flight: NH860) and on April 20th from Tokyo to <br>
                Vancouver (flight: NH116). When Dora arrived in Vancouver on April 20th around 3:30 <br>
                p.m., she was almost dead due to severe deprivation of food and water and lack of <br>
                oxygen. She died after a night in a veterinarian emergency room. <br>
                In order to memorialize my Dora and prevent such an avoidable tragedy from <br>
                happening again on other small animals, I started the Dora Conservation Animal <br>
                Foundation in Vancouver. I appeal to you to stop transporting small animals in the hold <br>
                of the flight, and my Dora and I need an apology from ANA. <br>
                Your compassion and cooperation would be appreciated, and I look forward to your <br>
                sincere reply. <br> <br>

                Jason Guo
                May 30, 2019
                <br>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFive">

            <div data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer"> ANA response Letter</div>


        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                <img src="/images/News/ana_Letter.png" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSix">

            <div data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Sing Tao Daily reported Dora event on July 5, 2019
            </div>


        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                <h3><a href="https://dushi.singtao.ca/vancouver/%E6%98%9F%E5%B2%9B%E8%A6%81%E9%97%BB/%E7%88%B1%E7%8A%AC%E6%89%98%E8%BF%90%E6%9D%A5%E5%8A%A0%E6%8A%98%E8%85%BE%E4%B8%A7%E5%91%BD-%E5%8D%8E%E7%94%9F%E5%91%BC%E5%90%81%E8%A7%84%E8%8C%83%E5%AE%A0%E7%89%A9%E8%BF%90%E8%BE%93/" target="_blank">爱犬托运来加折腾丧命 华生呼吁规范宠物运输</a></h3>


            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSeven">
            <div data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">

                City News reported Dora event on July 5, 2019
            </div>


        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                <h3><a href="https://www.citynews1130.com/2019/07/05/puppy-dies-after-five-day-flight-in-cargo-from-china-to-vancouver/" target="_blank">Puppy dies after five-day flight in cargo from China to Vancouver</a></h3>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingEight">

            <div data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Richmond News reported Dora event on July 8, 2019
            </div>


        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">


                <h3><a href="https://www.richmond-news.com/news/teenager-gifts-1-500-to-richmond-animal-charity-after-pup-dies-on-flight-from-china-1.23879312" target="_blank"> Teenager gifts $1,500 to Richmond animal charity after pup dies on flight from China</a></h3>

                <img src="/images/News/RichmondNew1.jpg" style="width:100%;">
                <img src="/images/News/RichmondNew2.jpg" style="width:100%;">
                <img src="/images/News/RichmondNew3.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading18">

            <div data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer"> Raise Funds for RAPS on July 1, 2019  </div>

        </div>
        <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                <img src="/images/News/RaiseFundsforRAPS_20200609_1.jpg" style="width:100%;">
                <img src="/images/News/RaiseFundsforRAPS_20200609_2.jpg" style="width:100%;">
                <img src="/images/News/RaiseFundsforRAPS_20200609_3.jpg" style="width:100%;">
                <img src="/images/News/RaiseFundsforRAPS_20200609_4.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading19">

            <div data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">Visit RAPS on May 27, 2019</div>

        </div>
        <div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                <img src="/images/News/VisitRAPS_20200609_1.jpg" style="width:100%;">
                <img src="/images/News/VisitRAPS_20200609_2.jpg" style="width:100%;">
                <img src="/images/News/VisitRAPS_20200609_3.jpg" style="width:100%;">
                <img src="/images/News/VisitRAPS_20200609_4.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading20">

            <div data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20" style="margin-top: 20px;margin-bottom: 10px;padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">Dora Animal Protection Foundation was established on May 8, 2019</div>

        </div>
        <div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/Certificate_20200609_1.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading21">
            <div data-toggle="collapse" data-target="#collapse21" aria-expanded="false" aria-controls="collapse21" style="margin-top: 20px;margin-bottom: 10px;
                 padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Farewell to Dora on April 21, 2019
            </div>

        </div>
        <div id="collapse21" class="collapse" aria-labelledby="heading21" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/FarewellToDora_20200610_1.png" style="width:100%;">
                <img src="/images/News/FarewellToDora_20200610_2.png" style="width:100%;">
                <img src="/images/News/FarewellToDora_20200610_3.png" style="width:100%;">
                <video loop="" controls="" style="width: 100%;height: auto;">
                    <source src="/images/News/FarewellToDora_20200610_1.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading23">
            <div data-toggle="collapse" data-target="#collapse23" aria-expanded="false" aria-controls="collapse23" style="margin-top: 20px;margin-bottom: 10px;
                 padding-left:10px; color:#337ab7; font-size:16px; width:100%;word-wrap: break-word; cursor:pointer">
                Dora arrives in Vancouver on April 20, 2019 for emergency treatment
            </div>

        </div>
        <div id="collapse23" class="collapse" aria-labelledby="heading23" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">
                <img src="/images/News/SaveDora_20200611_1.jpg" style="width:100%;">
                <img src="/images/News/SaveDora_20200611_2.jpg" style="width:100%;">
                <img src="/images/News/SaveDora_20200611_3.jpg" style="width:100%;">
                <img src="/images/News/SaveDora_20200611_4.jpg" style="width:100%;">
                <img src="/images/News/SaveDora_20200611_5.jpg" style="width:100%;">
                <img src="/images/News/SaveDora_20200611_6.jpg" style="width:100%;">
            </div>
        </div>
    </div>
</div>

