
@{
    ViewData["Title"] = "News";
}

<div id="accordion">

    <div class="card">
        <div class="card-header" id="headingOne">
            <h3 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <span style="font-size:16px;"> Jason Guo's Letter</span>
                </button>
            </h3>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                Dear John Horgan,<br /><br />

                I am Jason Guo, a Grade 10 student at St. George’s School. In April, my first dog, Dora, was shipped from Dalian, China, to Vancouver,<br />

                Canada, via Hong Kong and Tokyo. During the 5-day convoluted shipment (which was considered the most economically efficient way to the carriers),<br />

                she was constrained in the extremely cold hold of the flights like ordinary lifeless commercial cargo; she had no water to drink and no food to eat <br />

                and died after a night at a veterinarian hospital in Vancouver. Dora’s abnormal death led me to set up a foundation with the help of my family <br />

                and friends to protect small animals, whose lives are very vulnerable, especially when they are neglected or abused. <br />

                We named it the Dora Animal Protection Foundation in memory of the dog whose dismal death would have been avoided if we, humans, had cared.<br />

                Our mission is to provide animals safe and humane living conditions, prevent them from being neglected or abused,  <br />

                and provide support when they need help. As a part of our mission, we implore you to legislate for the protection of small animals <br />

                from being neglected or abused. Specifically, we strongly propose legislation against shipping small animals in the hold of fights <br />

                that arrive at and depart from Canadian airports. Small animals deserve to be respected inhabitants of our civilized world. <br />

                Thank you for your kind consideration of our legislative proposal. If you need further information from us, please let us know.<br /><br />

                Yours truly,<br /><br />

                Jason Guo<br />
                June 4, 2019<br />

                <img src="~/images/News/Jason Letter1.jpg" />
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h3 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span style="font-size:16px;"> John Horgan Response Letter</span>
                </button>
            </h3>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                Dear Mr. Guo:
                <br /> <br />

                Thank you for your email regarding proposed legislation to stop the neglect and abuse of animals. <br />

                We appreciate your taking the time to write and extend our sincere condolences for the loss of your dog, <br />

                Dora. We will share your message with Premier Horgan at our earliest opportunity. <br />

                He will appreciate the chance to hear your personal story and ideas on how to extend protections to small animals. <br />

                On your behalf, we have also provided a copy of your message to the Honourable Lana Popham, Minister of Agriculture, <br />

                for her review and consideration. <br />

                Please be assured that your suggestions will be included in any of the Minister’s related discussions going forward. <br />

                If you would like to provide further details on your proposal, <br />

                we encourage you to share them with the Ministry of Agriculture directly at <a href="mailto:AGR.Minister@gov.bc.ca">AGR.Minister@gov.bc.ca</a>. <br />

                We would also recommend getting in contact with your local Member of the Legislative Assembly (MLA). <br />

                Their office may be able to offer assistance in furthering your advocacy. <br />

                You can find contact information for your MLA at the link listed below: <br /> <br /> <br />

                <a href="https://www.leg.bc.ca/learn-about-us/members">https://www.leg.bc.ca/learn-about-us/members</a> <br /> <br /> <br />

                Thank you, again, for taking the time to share your thoughts and recommendations with us. We wish you all the best. <br />

                <br />

                <img src="~/images/News/LegislativeAssembly1.jpg" />
                <img src="~/images/News/LegislativeAssembly2.jpg" />
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h3 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span style="font-size:16px;"> Jason Guo's Letter to ANA </span>
                </button>
            </h3>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                Dear ANA:
                <br /> <br />
                My name is Jason. I am a high school student from Vancouver, Canada. <br />
                On April 16th, 2019, my first dog, Dora (MAWB no. 205-36878391 (YVR)), was <br />
                transported from Dalian, China, to Vancouver, Canada. She was on your flights on April <br />
                19th from Hong Kong to Tokyo (flight: NH860) and on April 20th from Tokyo to <br />
                Vancouver (flight: NH116). When Dora arrived in Vancouver on April 20th around 3:30 <br />
                p.m., she was almost dead due to severe deprivation of food and water and lack of <br />
                oxygen. She died after a night in a veterinarian emergency room. <br />
                In order to memorialize my Dora and prevent such an avoidable tragedy from <br />
                happening again on other small animals, I started the Dora Conservation Animal <br />
                Foundation in Vancouver. I appeal to you to stop transporting small animals in the hold <br />
                of the flight, and my Dora and I need an apology from ANA. <br />
                Your compassion and cooperation would be appreciated, and I look forward to your <br />
                sincere reply. <br /> <br />

                Jason Guo
                May 30, 2019
                <br />
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFour">
            <h3 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <span style="font-size:16px;"> ANA response Letter </span>
                </button>
            </h3>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                <img src="~/images/News/ana_Letter.png" />
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFive">
            <h3 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <span style="font-size:16px;"> Richmond News reported on July 8, 2019 </span>
                </button>
            </h3>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                <h3><a href="https://www.richmond-news.com/news/teenager-gifts-1-500-to-richmond-animal-charity-after-pup-dies-on-flight-from-china-1.23879312" target="_blank"> Teenager gifts $1,500 to Richmond animal charity after pup dies on flight from China</a></h3>

                <img src="~/images/News/RichmondNew1.jpg" />
                <img src="~/images/News/RichmondNew2.jpg" />
                <img src="~/images/News/RichmondNew3.jpg" />
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSix">
            <h3 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <span style="font-size:16px;"> Sing Tao Daily reported on July 5, 2019 </span>
                </button>
            </h3>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body" style="padding-left:30px;">

                <h3><a href="https://dushi.singtao.ca/vancouver/%E6%98%9F%E5%B2%9B%E8%A6%81%E9%97%BB/%E7%88%B1%E7%8A%AC%E6%89%98%E8%BF%90%E6%9D%A5%E5%8A%A0%E6%8A%98%E8%85%BE%E4%B8%A7%E5%91%BD-%E5%8D%8E%E7%94%9F%E5%91%BC%E5%90%81%E8%A7%84%E8%8C%83%E5%AE%A0%E7%89%A9%E8%BF%90%E8%BE%93/" target="_blank">爱犬托运来加折腾丧命 华生呼吁规范宠物运输</a></h3>


            </div>
        </div>
    </div>
</div>

