@using System.Web
@model DoraAPF.org.ViewModels.WebPages.WebPageViewModel

@{
    ViewData["Title"] = "Story";
}

<div>
        @Html.Raw(@Model.HtmlContent)
</div>

@*<p style="font-size:24px; margin-top:30px;">
    Animals are our friends. There are animals here that need our adoption and our donations. Let’s come together to spread our love for animals and support the SPCA!
</p>
<p style="font-size:20px; ">
    (Les animaux sont nos amis. Ici, il y a des animaux qui ont besoin de notre adoption et nos dons. Venons ensemble pour répandre notre amour pour les animaux et soutenons le SPCA!)
</p>
<p  >
    <a href="https://adopt.spca.bc.ca/"target="_blank" style="font-size:24px; ">Adopt animals at SPCA</a>
</p>
<p  >
    <a style="font-size:24px; " target="_blank" href="https://spca.bc.ca/donations/make-a-donation/?utm_source=menu&utm_medium=link&utm_campaign=donate&_ga=2.29951679.1229050676.1589775373-1942317572.1589775373">
       Support SPCA</a>
</p>*@
@*<h2>
        The Goal of the Dora Animal Foundation:

    </h2>

    <p style="font-size:18px; margin-top:20px;">
        Our mission is to provide animals with safe and humane living conditions, prevent them from being neglected or abused, and provide support when they need help. As part of our mission, we implore legislation on the international transportation of small animals. Specifically, we strongly propose a law against shipping small animals in the cargo hold of flights that arrive at and depart from Canadian airports.
    </p>*@

