
@{
    ViewData["Title"] = "Story";
}

<h2>
    The Goal of the Dora Animal Foundation:

</h2>

<p style="font-size:18px; margin-top:20px;">
    Our mission is to provide animals with safe and humane living conditions, prevent them from being neglected or abused, and provide support when they need help. As part of our mission, we implore legislation on the international transportation of small animals. Specifically, we strongly propose a law against shipping small animals in the cargo hold of flights that arrive at and depart from Canadian airports.
</p>

