
@{
    ViewData["Title"] = "Story";
}

<h2>Dora animal fundation protection Goal. </h2>

<p style="font-size:14px;">
    Our mission is to provide animals safe and humane living conditions, prevent them from being neglected or abused,
    and provide support when they need help. As a part of our mission, we implore you to legislate for the protection of small animals
    from being neglected or abused. Specifically, we strongly propose legislation against shipping small animals in the hold of fights
    that arrive at and depart from Canadian airports. Small animals deserve to be respected inhabitants of our civilized world.
</p>