
@{
    ViewData["Title"] = "Team";
}


<div>
    @Html.Raw(@Model.HtmlContent)
</div>

@*<section class="member">
    <div class="card" style="width:100%">
        <img class="card-img-top" src="/images/members/Jason.jpg" alt="Card image">
        <div class="card-body">
            <h3 class="card-title">Jason Guo - Founder &amp; President</h3>
            <p class="card-text">
                I established the Dora Animal Protection Foundation because I believe that animals,
                like our humans, are living beings that should be treated fairly and are deserving of respect.
                My Dora died due to food and water deprivation when traveling in the cargo hold of the airplanes.
                Her terrible death is a typical example of how animals are treated inhumanely.
                Therefore, I named the foundation after her name.
                I hope that through the Dora Animal Protection Foundation we will be able to work together to spread our message and voice for the protection of vulnerable animals and make change for their well-being.
            </p>
            <p class="card-text" style="font-size:16px;">
                (J’ai établit la Fondation Dora de la Protection des Animaux parce que je crois que des animaux, comme des êtres humains, sont des êtres vivants qui devraient être respectés et traités équitablement. Dora est morte à cause de la privation de la nourriture et de l’eau en voyageant dans les frets des avions. Sa mort terrible est un exemple typique du traitement inhumain des animaux. En conséquence, j’ai nommé la fondation d’après son nom. J’espère qu’avec la Fondation Dora de la Protection des Animaux nous pouvons travailler ensemble pour répandre notre message de protéger des animaux vulnérables et créer des changements pour leur bien-être.)
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="/images/members/Frankie.jpg" alt="Card image">
        <div class="card-body">
            <h3 class="card-title">Frankie Cena - Director</h3>
            <p class="card-text">
                Frankie Cena is honored to join an organization that is fighting for the rights of animals.
                Frankie is the owner of a French Bull Dog named Boo and has donated to the SPCA for the past several years.
            </p>
            <p class="card-text" style="font-size:16px;">
                (Je suis honoré de joindre une organisation qui lutte pour des droits des animaux. J’ai un bouledogue français qui s’appelle Boo et je donne fréquemment à SPCA au cours des dernières années.)
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="/images/members/Gelsea.jpg" alt="Card image">
        <div class="card-body">
            <h3 class="card-title">Gelsea Mae - Promotion Ambassador</h3>
            <p class="card-text">
                Gelsea Mae is a Canadian actress, singer-songwriter, influencer and a lover of all animals.
            </p>
            <p class="card-text" style="font-size:16px;">
                (Gelsea Mae est une actrice, auteure-compositrice-interprète, influenceuse canadienne et amant de tous les animaux.)
            </p>
        </div>
    </div>
    <br>


    <div class="card" style="width:100%">
        <img class="card-img-top" src="/images/members/Anna.jpg" alt="Card image">
        <div class="card-body">
            <h3 class="card-title">Anna Saint - Vice President</h3>
            <p class="card-text">
                Having grown up with a strong bond with animals and in particular, her pet dog, Anna has long been passionate about furthering animal rights and welfare. She is excited to work with the Dora foundation to achieve these goals and is thrilled to see more attention being brought to the all too common mistreatment and neglect of animals.
            </p>
            <p class="card-text" style="font-size:16px;">
                (Ayant grandi avec une relation solide avec des animaux et en particulier, son chien de compagnie, Anna a depuis longtemps une passion pour les droits des animaux. Elle est enthousiaste de travailler avec la Fondation Dora pour atteindre ce but et ravie de voir plus d’attention à la maltraitance répandue des animaux.)
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="/images/members/Emily_Xin.jpg" alt="Card image">
        <div class="card-body">
            <h3 class="card-title">Emily Xin - Vice President</h3>
            <p class="card-text">
                Dogs are have always been a very important part of my life, especially at boarding school where my advisor’s dog Moxie is a constant source of comfort. I’m very excited to join the Dora foundation to protect animals and advocate their rights.
            </p>
            <p class="card-text" style="font-size:16px;">
                (Les chiens ont toujours été une partie très importante de ma vie, surtout au pensionnat où le chien de mon conseiller Moxie est une source constante de confort. Je suis très heureuse de rejoindre la fondation Dora pour protéger les animaux et défendre leurs droits.)
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="/images/members/Corina.jpg" alt="Card image">
        <div class="card-body">
            <h3 class="card-title">Corina Picui - Vice President</h3>
            <p class="card-text">
                Dogs have always been an important part of Corina’s life. She is excited to honour the memory of Kaya, her rescued dog of 11 years who recently passed away, by supporting the Dora Animal Protection Foundation.
            </p>
            <p class="card-text" style="font-size:16px;">
                (Les chiens ont une partie importante de ma vie. Je suis ravie d’honorer la mémoire de Kaya, mon chien secouru de 11 ans qui a récemment décédé, en soutenant la Fondation Dora pour la protection des animaux.)
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="/images/members/Arsalan.jpg" alt="Card image">
        <div class="card-body">
            <h3 class="card-title">Arsalan Ghaemi - Secretary General</h3>
            <p class="card-text">
                Arsalan is proud and inspired by the Dora Foundations commitment to serving those who are least able to defend themselves. Animals and dogs, in particular, have played a crucial role in his life, and he’s excited to see the incredible things this foundation will do
            </p>
            <p class="card-text" style="font-size:16px;">
                (Je suis inspiré par et fier de l’engagement de la Fondation Dora au ceux qui sont moins capables de se défendre. Les animaux et surtout les chiens ont joué un rôle crucial dans ma vie, et je suis enthousiaste de voir ce que cette fondation fera.)
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="/images/members/Michelle_Pan.jpg" alt="Card image">
        <div class="card-body">
            <h3 class="card-title">Michelle Pan - Secretary</h3>
            <p class="card-text">
                My dog Kodak brings an endless amount of love and joy into my life. Dora’s heart wrenching story inspires me to advocate for vulnerable animals that cannot speak for themselves. I am thankful to be a part of such a wonderful organization.
            </p>
            <p class="card-text" style="font-size:16px;">
                (Mon chien Kodak apporte une quantité infinie d’amour et de joie dans ma vie. L’histoire déchirante de Dora m’inspire à defendre des animaux vulnérables qui ne peuvent pas se défendre. Je suis reconnaissante de faire partie d’une organisation si formidable.)
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="/images/members/Tonya.jpg" alt="Card image">
        <div class="card-body">
            <h3 class="card-title">Tonya Cena - Secretary</h3>
            <p class="card-text">
                For as long as I can remember the love I have for dogs is incredible. They are such amazing and beautiful animals. I’m excited to be part of the Dora Foundation because I get to help animals that don’t have voices and that need our help!
            </p>
            <p class="card-text" style="font-size:16px;">
                (Aussi longtemps que je me souvienne, mon amour pour les chiens est incroyable. Ce sont des animaux formidables et beaux. Je suis ravie de faire partie de la Fondation Dora car je peux aider des animaux qui n’ont pas de voix et qui ont besoin de notre aide!)
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="/images/members/Jacqueline.jpg" alt="Card image">
        <div class="card-body">
            <h3 class="card-title">Jacqueline Belzberg - Secretary</h3>
            <p class="card-text">
                Since childhood, Jacqueline has been surrounded by animals that she’s grown to love because of the joy they bring to the world. She is thrilled to be a part of the Dora Foundation whose dedication to protecting vulnerable animals is unparalleled.
            </p>
            <p class="card-text" style="font-size:16px;">
                (Depuis l’enfance, Jacqueline est entourée d'animaux qu'elle aime en raison de la joie qu'ils apportent au monde. Elle est heureuse de faire partie de la Fondation Dora dont l’engagement à la protection des animaux vulnérables est sans précédent.)
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="/images/members/Jacky20200524.jpg" alt="Card image">
        <div class="card-body">
            <h3 class="card-title">Jacky Xue - Secretary</h3>
            <p class="card-text">
                Jacky has loved dogs upon first sight of them. He still laments the loss of Dora, so he is excited to be a part of the Dora foundation to protect defenceless animals like Dora.
            </p>
            <p class="card-text" style="font-size:16px;">
                (Jacky a aimé les chiens à première vue. Il déplore toujours la perte de Dora, donc il est ravi de faire partie de la fondation Dora pour protéger des animaux sans défense comme Dora.)
            </p>
        </div>
    </div>
    <br>

</section>*@


@section Styles {
    <link href="~/css/members.css" rel="stylesheet" asp-append-version="true" >
}