
@{
    ViewData["Title"] = "Team";
}

<h2 style="text-align:center;">Dora animal fundation protection team.</h2>


<div class="card" style="width:100%">
    <img class="card-img-top" src="~/images/Jason.jpg" alt="Card image" style="width:400px;">
    <div class="card-body">
        <h3 class="card-title">Jason Guo</h3>
        <p class="card-text">    Having grown up with a strong bond with animals and in particular, her pet dog, Anna has long been passionate about furthering animal rights and welfare. She is excited to work with the Dora foundation to achieve these goals and is thrilled to see more attention being brought to the all too common mistreatment and neglect of animals.</p>
    </div>
</div>
<br>


<h3>Anna</h3>
<p>
    Having grown up with a strong bond with animals and in particular, her pet dog, Anna has long been passionate about furthering animal rights and welfare. She is excited to work with the Dora foundation to achieve these goals and is thrilled to see more attention being brought to the all too common mistreatment and neglect of animals.
</p>
<h3>Jacqueline</h3>
<p>
    Since childhood, Jacqueline has been surrounded by animals that she’s grown to love because of the joy they bring to the world. She is thrilled to be a part of the Dora Foundation whose dedication to protecting vulnerable animals is unparalleled.
</p>
<h3> Corina </h3>
<p>
    Dogs have always been an important part of Corina’s life. She is excited to honour the memory of Kaya, her rescued dog of 11 years who recently passed away, by supporting the Dora Animal Protection Foundation.
</p>

<h3> Arsalan </h3>
<p>
    Arsalan is proud and inspired by the Dora Foundations commitment to serving those who are least able to defend themselves. Animals and dogs, in particular, have played a crucial role in his life, and he’s excited to see the incredible things this foundation will do
</p>

<h3> Tonya </h3>
<p>
    For as long as I can remember the love I have for dogs is incredible. They are such amazing and beautiful animals. I’m excited to be part of the Dora Foundation because I get to help animals that don’t have voices and that need our help!
</p>