
@{
    ViewData["Title"] = "Team";
}


<div>
    @Html.Raw(@Model.HtmlContent)
</div>

@*<h2 style="text-align:center;">Dora animal fundation protection team.</h2>

<section class="member">
    <div class="card" style="width:100%">
        <img class="card-img-top" src="~/images/members/Jason.jpg" alt="Card image" >
        <div class="card-body">
            <h3 class="card-title">Jason Guo - Founder & President</h3>
            <p class="card-text">
                I established the Dora Animal Protection Foundation because I believe that animals,
                like our humans, are living beings that should be treated fairly and are deserving of respect.
                My Dora died due to food and water deprivation when traveling in the cargo hold of the airplanes.
                Her terrible death is a typical example of how animals are treated inhumanely.
                Therefore, I named the foundation after her name.
                I hope that through the Dora Animal Protection Foundation we will be able to work together to spread our message and voice for the protection of vulnerable animals and make change for their well-being.
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="~/images/members/Frankie.jpg" alt="Card image" >
        <div class="card-body">
            <h3 class="card-title">Frankie Cena - Director</h3>
            <p class="card-text">
                Frankie Cena is honored to join an organization that is fighting for the rights of animals.
                Frankie is the owner of a French Bull Dog named Boo and has donated to the SPCA for the past several years.
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="~/images/members/Gelsea.jpg" alt="Card image" >
        <div class="card-body">
            <h3 class="card-title">Gelsea - Promotion Ambassador</h3>
            <p class="card-text">
                Gelsea Mae is a Canadian actress, singer-songwriter, influencer and a lover of all animals.
            </p>
        </div>
    </div>
    <br>


    <div class="card" style="width:100%">
        <img class="card-img-top" src="~/images/members/Anna.jpg" alt="Card image" >
        <div class="card-body">
            <h3 class="card-title">Anna Saint - Vice President</h3>
            <p class="card-text">
                Having grown up with a strong bond with animals and in particular, her pet dog, Anna has long been passionate about furthering animal rights and welfare. She is excited to work with the Dora foundation to achieve these goals and is thrilled to see more attention being brought to the all too common mistreatment and neglect of animals.
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="~/images/members/Corina.jpg" alt="Card image">
        <div class="card-body">
            <h3 class="card-title">Corina Picui - Vice President</h3>
            <p class="card-text">
                Dogs have always been an important part of Corina’s life. She is excited to honour the memory of Kaya, her rescued dog of 11 years who recently passed away, by supporting the Dora Animal Protection Foundation.
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="~/images/members/Arsalan.jpg" alt="Card image" >
        <div class="card-body">
            <h3 class="card-title">Arsalan Ghaemi - Secretary General</h3>
            <p class="card-text">
                Arsalan is proud and inspired by the Dora Foundations commitment to serving those who are least able to defend themselves. Animals and dogs, in particular, have played a crucial role in his life, and he’s excited to see the incredible things this foundation will do
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="~/images/members/Tonya.jpg" alt="Card image" >
        <div class="card-body">
            <h3 class="card-title">Tonya Cena - Secretary</h3>
            <p class="card-text">
                For as long as I can remember the love I have for dogs is incredible. They are such amazing and beautiful animals. I’m excited to be part of the Dora Foundation because I get to help animals that don’t have voices and that need our help!
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="~/images/members/Jacqueline.jpg" alt="Card image" >
        <div class="card-body">
            <h3 class="card-title">Jacqueline Belzberg - Secretary</h3>
            <p class="card-text">
                Since childhood, Jacqueline has been surrounded by animals that she’s grown to love because of the joy they bring to the world. She is thrilled to be a part of the Dora Foundation whose dedication to protecting vulnerable animals is unparalleled.
            </p>
        </div>
    </div>
    <br>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="~/images/members/Jacky.jpg" alt="Card image" >
        <div class="card-body">
            <h3 class="card-title">Jacky Xue - Secretary</h3>
            <p class="card-text">
                Jacky has loved dogs upon first sight of them. He still laments the loss of Dora, so he is excited to be a part of the Dora foundation to protect defenceless animals like Dora.
            </p>
        </div>
    </div>
    <br>

</section>*@

@section Styles {
    <link href="~/css/members.css" rel="stylesheet">
}