div.amount-row {
    padding: 20px;
}

div.amount-col {
    padding:15px;
    font-size:22px;
    border:1px  solid red;
}

div.button-section {
    padding-top:15px;
}

div.donation-section input[type="text"] {
    width: 100%;
}

div.donation-section select.title {
    width:80px;
}

div.donation-section span.required-field-red {
    color:red;
    padding-left:3px;
}