/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 140px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.navbar {
    /*//background-color: #00337f;*/
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    height: 140px;
}

.navbar-inverse .navbar-header > a {
    font-size: 22px;
    color: #000;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #ea6c11;
}

    /*.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus*/

    .navbar-inverse .navbar-nav > li > a {
        font-size: 18px;
        color: #000;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

.navbar a.donate-link {
    box-shadow:0 3px 0 0 #c4550e;
}

.navbar div.donate-wrapper a {
    float: right;
    cursor: pointer;
    background: #ea6c11;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 5px 25px;
    margin-top: 10px;
    border-radius:5px;
}


.navbar div.visitors {
    float: right;
    font-size: 18px;
   
    margin-top: 10px;
    border-radius: 5px;
}


.navbar div.dora-animal-protection-foundation-title {
    color: white;
    border: 2px solid;
    border-color: #ea6c11;
    background-color: #ea6c11;
    display: inline-block;
}

.body-content-without-footer {
    min-height: 500px;
}


.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: coral;

}

video {
    width: 100% !important;
    height: auto !important;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .navbar {
        height: 120px;
    }

    body {
        padding-top: 120px;
    }

    .navbar div.logo{
        display:none;
        padding:0 !important;
    }

    .navbar div.title-column {
        padding:0;
    }

    .navbar div.menu {
        background-color: white;
    }

    .navbar div.visitors {
        display: none;
    }

    .navbar div.visitors-hide {
        display: inline-block;
        text-align: center;
        font-size: 18px;
        padding: 5px 25px;
        margin-top: 10px;
        border-radius: 5px;
    }

    .navbar div.dora-animal-protection-foundation-title {
        font-size: 22px;
        padding: 12px 10px;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        height: 140px;
    }

    body {
        padding-top: 140px;
    }

    .navbar div.menu {
        margin-top: 20px;
    }

    .navbar div.dora-animal-protection-foundation-title {
        margin-bottom: 20px;
        font-size: 30px;
        padding: 12px 60px;
    }

    .navbar div.logo {
        display: inline-block;
        padding: 0 !important;
    }

    .navbar div.visitors {
        display: inline-block;
        text-align: right;
        padding: 5px 0px;
    }

    .navbar div.visitors-hide {
        display: none;
    }

}